*{
    margin: 0%;
    padding: 0%;
}

.bubbleinfo,.quickinfo,.insertioninfo,.mergeinfo,.selectioninfo{
  font-family: 'Varela Round', sans-serif;
  background: rgb(149, 161, 255);
  background-image: linear-gradient(to bottom right,rgb(149, 161, 255), rgb(250, 139, 183));
    height: auto;
}
