.searchAppScreen{
    font-family: 'Varela Round', sans-serif;
    background: rgb(141, 128, 254);
    background-image: linear-gradient(to bottom right,rgba(28, 230, 248, 0.638), rgb(15, 255, 15));
    height: auto;
  }

