.searchAppScreen{
    font-family: 'Varela Round', sans-serif;
    background: rgb(141, 128, 254);
    background-image: linear-gradient(to bottom right,rgba(100, 238, 251, 0.638), rgb(168, 255, 124));
    height: auto;
  }

