*{
    margin: 0%;
    padding: 0%;
}

.hii{
  font-family: 'Varela Round', sans-serif;
    background: rgb(150, 255, 157);
    background-image: linear-gradient(to bottom right,rgb(149, 161, 255), rgb(250, 139, 183));
    height: auto;
}