*{
    margin: 0%;
    padding: 0%;
}

.bfsinfo,.dfsinfo{
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to bottom right,rgb(234, 125, 216), rgb(228, 250, 139));
    height: auto;
}